.post {
  a {
    @apply block;

    &:hover {
      @apply no-underline;
      color: inherit;

      h2 {
        color: #db2756;
      }
    }
  }

  h2 {
    @apply truncate;
    @apply max-w-full;
    @apply text-3xl;
    @apply mb-1;
    @apply transition ease-in-out duration-150;
  }

  time {
    @apply text-gray-400;
    @apply text-sm;
    @apply font-semibold;
    @apply uppercase;
  }

  p {
    @apply text-gray-700;
    @apply overflow-hidden;
    @apply text-lg;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  + .post {
    @apply border-t border-gray-200;
    @apply mt-8;
    @apply pt-8;
  }
}
