.post {
  a {
    @apply block;
  }

  h2 {
    @apply truncate;
    @apply max-w-full;
    @apply text-3xl;
    @apply mb-1;
  }

  time {
    @apply text-gray-400;
    @apply text-sm;
    @apply font-semibold;
    @apply uppercase;
    @apply mb-1;
    @apply inline-block;
  }

  p {
    @apply overflow-hidden;
    @apply text-lg;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  + .post {
    @apply border-t border-gray-200;
    @apply mt-8;
    @apply pt-8;
  }
}
