.button {
  @apply cursor-pointer appearance-none;
  @apply bg-gray-900;
  @apply relative;
  @apply transition ease-in-out duration-150;
  @apply text-gray-100 font-semibold;
  @apply py-2 px-4;
  @apply rounded;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  .spinner {
    @apply absolute top-0 right-0 bottom-0 left-0;
    @apply flex inset-0 items-center justify-center;
    @apply opacity-0;

    svg {
      animation: spin 500ms linear infinite;

      svg {
        animation: spin 500ms linear infinite;
        @apply h-6 w-6;
        @apply opacity-75;

        path {
          &:first-child {
            @apply text-gray-600;
          }

          &:last-child {
            @apply text-gray-400;
          }
        }
      }
    }
  }

  &.loading {
    @apply pointer-events-none;
    @apply opacity-75;

    .content {
      @apply opacity-0;
    }

    .spinner {
      @apply opacity-100;
    }
  }

  &:hover {
    @apply bg-gray-800;
  }
}
