.button {
  outline: 0;
  border: 1px solid var(--color-text-dark);
  background: var(--color-text-dark);
  color: #fff;
  border-radius: 3px;
  padding: 0.55em 1em 0.6em;
  transition: border ease-in-out 200ms, background ease-in-out 200ms;
  font-weight: 500;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: #000;
    background: #000;
  }

  &.loading {
    text-align: left;
    text-indent: -9999px;
    background: #000;
    border-color: #000;
    cursor: default;

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }

    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-top-color: rgba(255, 255, 255, 0.9);
      animation: spinner 0.6s linear infinite;
    }
  }
}
