.webmentions {
  margin-top: 2.5em;

  ul {
    margin-top: 1.25em;
  }

  li {
    display: flex;
    margin-top: 0.75em;
    align-items: center;
    opacity: 0.9;
    transition: opacity ease-in-out 200ms;

    &:hover {
      opacity: 1;
    }

    a {
      color: var(--color-text-lighter);
      display: block;
    }

    .likes strong,
    .author {
      color: var(--color-text);
    }

    .likes {
      margin-bottom: 0.25em;

      strong {
        padding: 0 0.25em 0 0;
      }

      .heads {
        position: relative;
        height: 3em;

        .head {
          position: absolute;
        }
      }
    }

    .author,
    .likes {
      display: flex;
      align-items: center;

      .head {
        height: 3em;
        width: 3em;
        border-radius: 1.5em;
        margin-right: 0.5em;
        border: 0.125em solid var(--color-background);
        background-color: var(--color-background);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .content {
      padding: 0.25em;
      line-height: 1.4;

      strong {
        display: none;
        color: var(--color-text);
      }
    }
  }
}
