.blog-detail {
  margin-top: 65vh;

  .social {
    @apply -m-1 mt-6 mb-0;

    .btnTwitter,
    .btnFacebook,
    .btnLinkedin {
      @apply cursor-pointer;
      @apply text-sm font-semibold;
      @apply py-1 px-3 m-1;
      @apply rounded;
      @apply inline-flex;
      @apply items-center;

      span {
        @apply pl-2;
      }

      &:hover {
        @apply no-underline;
      }
    }

    .btnTwitter {
      color: #ecf5fd;
      background-color: #48a1eb;

      &:hover {
        background-color: #4090d3;
      }
    }

    .btnFacebook {
      color: #eaf1fc;
      background-color: #3279ea;

      &:hover {
        background-color: #2d6cd2;
      }
    }

    .btnLinkedin {
      color: #eaf1f7;
      background-color: #2f77b0;

      &:hover {
        background-color: #2a6b9e;
      }
    }

    @media (max-width: 640px) {
      @apply mt-4;

      .btnTwitter,
      .btnFacebook,
      .btnLinkedin {
        @apply text-xs;
      }

      .btnLinkedin {
        @apply hidden;
      }
    }
  }

  .title {
    @apply text-5xl;
    @apply mt-4;
  }

  .header {
    time {
      @apply text-lg text-gray-400 font-bold;
      @apply uppercase;
    }
  }

  @media (max-width: 640px) {
    margin-top: 35vh;

    .title {
      @apply text-4xl;
      @apply mt-2;
    }

    .header time {
      @apply text-base;
    }
  }
}
