.header {
  height: 65vh;
  @apply absolute top-0 left-0 right-0;
  @apply w-full;
  @apply overflow-hidden;
  @apply bg-gray-100 bg-cover bg-center;

  @media (max-width: 640px) {
    height: 35vh;
  }

  &:after {
    @apply abolute top-0 bottom-0 left-0 right-0;
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent 50%)
      rgba(0, 0, 0, 0.4);
  }

  img {
    @apply absolute top-0 left-0 right-0;
    @apply w-full;
    @apply opacity-0;
  }
}
