:root {
  --color-tint: #db2756;
  --color-background: #fff;
  --color-text-lightest: #bbc4c9;
  --color-text-lighter: #74818b;
  --color-text-light: #48545e;
  --color-text: #3b454e;
  --color-text-dark: #2b2f33;
  --color-alternative-link: #939aa3;
}
