@import "./_reset";
@import "./_variables";
@import "./_progress";

#__next {
  min-height: 100%;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: var(--color-text);

  code,
  pre {
    font-family: "Source Code Pro", Hack, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  blockquote {
    position: relative;
    font-style: italic;
    padding: 0.25em 1em;
    opacity: 0.75;

    p:last-child {
      margin: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 4px;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      background: #e1e1e8;
      border-radius: 2px;
    }
  }

  input,
  textarea,
  button,
  select {
    font-size: inherit;
    line-height: 1;
  }

  textarea {
    line-height: 1.4;
  }

  strong {
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.75em;
    font-weight: 600;
    color: var(--color-text-dark);
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.75em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.6em;
    margin-bottom: 0.25em;
  }

  h4 {
    font-size: 1.2em;
    margin-bottom: 0.1em;
  }

  p,
  pre,
  ul,
  blockquote {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + p {
      margin-top: 1em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p {
    & + img,
    & + ul,
    & + pre {
      margin-top: 1em;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-tint);

    &:hover {
      text-decoration: underline;
    }
  }


  hr {
    border: 0;
    border-top: 1px solid #ebeef0;
    margin: 1em 0;
  }
}
