@tailwind base;
@tailwind components;

:root {
  --container-width: 960px;
}

html,
body,
#__next {
  @apply min-h-full h-full;
}

#__next {
  @apply h-auto;
  @apply flex flex-col;
}

body {
  @apply text-base text-gray-700;
  @apply leading-relaxed antialiased;

  a {
    @apply transition ease-in-out duration-150;
    color: #db2756;

    &:hover {
      @apply underline;
    }
  }

  b,
  strong {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
    @apply text-gray-900;
  }

  blockquote {
    @apply relative;
    @apply italic;
    @apply py-4 px-6;
    @apply bg-gray-100;
    @apply rounded;

    &:before {
      content: '';
      @apply block;
      @apply absolute top-0 left-0 bottom-0;
      @apply w-1;
      @apply h-full;
      @apply bg-gray-200;
      @apply rounded-l;
    }
  }

  hr {
    @apply border-0;
    @aplly border-b-1 border-gray-100;
  }

  #nprogress {
    @apply pointer-events-none;

    .bar {
      @apply bg-gray-400;
      @apply fixed top-0 left-0;
      @apply z-50;
      @apply w-full;
      @apply opacity-75;
      height: 2px;
    }
  }
}

@tailwind utilities;
