@tailwind base;
@tailwind components;
@import './progress';

body {
  @apply text-base;
  @apply leading-relaxed;
  @apply text-gray-700;
  @apply antialiased;

  a {
    @apply transition ease-in-out duration-150;
    color: #db2756;

    &:hover {
      @apply underline;
    }
  }

  b,
  strong {
    @apply font-semibold;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
    @apply text-gray-900;
  }

  blockquote {
    @apply relative;
    @apply opacity-75;
    @apply italic;
    @apply py-1 px-4;

    p:last-child {
      @apply m-0;
    }

    &:before {
      content: '';
      @apply block;
      @apply absolute top-0 left-0 bottom-0;
      width: 4px;
      height: 100%;
      background: #e1e1e8;
      border-radius: 2px;
    }
  }

  hr {
    @apply border-0;
    @aplly border-b-1 border-gray-100;
  }
}

@tailwind utilities;
