.layout {
  background: var(--color-background);
  color: var(--color-text);
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  img.twemoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.15em;
    margin: 0px 0.05em 0px 0.1em;
  }
}
