.content {
  @apply mx-auto;
  @apply p-10;
  max-width: 960px;

  &.editorial {
    h1 {
      @apply text-4xl;
      @apply text-gray-900;

      &:after {
        @apply mt-4;
        @apply mb-10;
        @apply block;
        @apply bg-gray-900;
        @apply w-12;
        height: 0.125em;
        content: '';
      }
    }

    p {
      @apply text-lg;

      + p {
        @apply mt-4;
      }
    }
  }
}
