.header {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;

  a:hover {
    text-decoration: none;
  }

  .logo {
    mask: url('/static/logo.svg') no-repeat center;
    mask-size: cover;
    width: 1em;
    height: 1.91em;
    margin: 0 0.25em 0 0.525em;
    background: var(--color-text-dark);
    display: inline-block;
  }

  .title {
    padding: 1.3em;

    a {
      border: 0;
      padding: 0;
      display: inline-block;
      line-height: 1;

      h1 {
        color: var(--color-text-dark);
        font-weight: 500;
        transition: color ease-in-out 200ms;
      }

      .logo {
        background: var(--color-text-dark);
        transition: background ease-in-out 200ms;
      }
    }

    h1 {
      font-size: 1.8em;
      line-height: 1;
      font-weight: 500;
      padding: 0.25em 0.525em;
      margin: 0;
      display: inline-block;
    }

    .logo {
      display: none;
    }

    @media (max-width: 640px) {
      margin-top: 0.3em;
      align-self: center;

      h1 {
        display: none;
      }

      .logo {
        display: inline-block;
      }
    }
  }

  .nav {
    padding: 1.3em 1.3em 1.3em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    flex: 1;

    a {
      padding: 0.525em;
      border: 0;
      color: var(--color-alternative-link);
      transition: color ease-in-out 200ms;

      &.active,
      &:hover {
        color: var(--color-text-dark);
      }

      + a {
        margin-left: 10px;
      }
    }
  }

  &.transparent {
    .title h1 {
      color: #fff;
    }

    .logo {
      background: #fff;
    }

    .nav a {
      color: rgba(255, 255, 255, 0.8);

      &:hover,
      &.active {
        color: #fff;
      }
    }
  }
}
