.header {
  @apply flex;
  @apply relative;
  @apply overflow-hidden;
  @apply z-10;

  .logo {
    @apply bg-gray-900;
    @apply inline-block;
    @apply w-4;
    @apply m-0 ml-2;
    mask: url('/static/logo.svg') no-repeat center;
    mask-size: cover;
    height: 1.91em;
  }

  .title {
    @apply p-5;

    a {
      @apply inline-block;

      h1 {
        @apply text-gray-900;
        @apply font-semibold;
      }

      .logo {
        @apply bg-gray-900;
        @apply -mb-1;
      }
    }

    h1 {
      @apply inline-block;
      @apply leading-none;
      @apply text-2xl;
      @apply p-2;
    }

    .logo {
      @apply hidden;
    }
  }

  .nav {
    @apply px-5 py-4;
    @apply font-medium;
    @apply flex flex-1;
    @apply justify-end;
    @apply items-center;

    a {
      @apply text-gray-500;
      @apply transition ease-in-out duration-150;
      @apply p-3;

      &:hover,
      &.active {
        @apply text-gray-900;
        @apply no-underline;
      }

      &.admin {
        @apply text-red-500;
      }

      + a {
        @apply ml-2;
      }
    }
  }

  &.transparent,
  &.dark {
    .title {
      h1 {
        @apply text-white;
      }

      .logo {
        @apply bg-white;
      }
    }

    .nav a {
      @apply text-white;
      @apply opacity-75;

      &:hover,
      &.active {
        @apply opacity-100;
      }

      &.admin {
        @apply text-red-500;
        @apply opacity-100;
      }
    }
  }

  @media (max-width: 640px) {
    @apply p-1;

    .nav {
      @apply p-2;

      a {
        @apply py-3 px-3;

        + a {
          @apply m-0;
        }
      }
    }

    .title {
      @apply p-4;

      h1 {
        @apply hidden;
      }

      .logo {
        @apply inline-block;
      }
    }
  }
}
